<launch>

	<include file="/data/private/robot/catkin_ws/src/assignment1/launch/laser.launch" />
	
<node pkg="exploration" type="hug_wall.py" name="Mover" output="screen" />







	</staticText> 	
		<node pkg="pf_localisation" type="node.py" name="pf_localisation" output="screen" />
	</staticText> 	


</launch>
